page {
	background: linear-gradient(to bottom,  $base_color  0%, #7AFFC1 60%,#71EBB1 100%);
	// background: linear-gradient(to bottom, #f06c7a 0%,#f06c7a 100%);	
	height: 100%;
	
}
.logo {
	width: 100%;
	height: 45vw;
	display: flex;
	justify-content: center;
	align-items: center;
	.img {
		width: 25%;
		height: 25vw;

		image {
			width: 100%;
			border-radius: 100%;
		}
	}
}
.form {
	width: 70%;
	padding: 0 7%;
	font-size: 30upx;
	.username,
	.password,
	.code{
		width: 100%;
		height: 90upx;
		display: flex;
		align-items: center;
		border-radius: 45upx;
		background-color: rgba($color: #ffffff, $alpha: 0.1);
		padding: 0 45upx;
		margin-bottom: 26upx;
		input {
			width: 100%;
			height: 50upx;
			color: rgba($color: #ffffff, $alpha: 0.8);
			font-weight: 200;
		}
	}

	.btn {
		color: #f06c7a;
		width: 120%;
		height: 90upx;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 45upx;
		background-color: #fff;
		// border: solid 1upx #fffefe;
		// box-shadow: 0 0 2upx rgba(0, 0, 0, .5);
		font-size: 40upx;
		margin-top: 15upx !important;

	}
}
